# Lesson 1

## Topics:
 - Data Types
 - Operators
 - Variables
 - Boolean
 - Conditional statements

### First command: print
print() - put anything you want to print inside the brackets

In [3]:
print("Hello world!")

Hello world!

How do I print quotes?
### Some "escape sequences"
- \" – double quote
- \\ – single backslash
- \n – newline
- \s – space check this
- \t – tab

In [4]:
print("This is how I will print \"Double quotes\". Let us add another line while we are at it:\nHere")

This is how I will print "Double quotes". Let us add another line while we are at it:
Here

In [5]:
print("Tab\tnicely\taligns\ntext\tin\torder")

Tab	nicely	aligns
text	in	order

In [6]:
print("Protein_AXYZ1C ATPQRSTAG\nProtein_B ATYFGHIKLP\n\n")
print("Protein_AXYZ1C\tATPQRSTAG\nProtein_B\tATYFGHIKLP")

Protein_AXYZ1C ATPQRSTAG
Protein_B ATYFGHIKLP


Protein_AXYZ1C	ATPQRSTAG
Protein_B	ATYFGHIKLP

this\s\is

## Data types in python

- Number 
- String
- List - Module 2
- Tuple - Module 2
- Dictionary - Module 2

## Numbers in python
- Integer
- Long (We won't use them)
- Float - decimal number
- Complex (We won't use them)

### Second command: type()

In [8]:
type(1.0)

float

In [13]:
type((1*1/1)*1)

float

### Strings

String is just a set of characters enclosed by quotation marks. We can manipulate strings in many ways with python that is powerful and very useful in a variety of contexts. 

Each character in a string has an index. Consider the string "A Test String":<br>
Character  Index<br>
"A"         0<br>
" "         1<br>
"T"         2<br>
"E"         3<br>
"S"         4<br>
"T"         5<br>
" "         6<br>
"S"         7<br>
"t"         8<br>
"r"         9<br>
"i"         10<br>
"n"         11<br>
"g"         12<br>

#### Strings are very important datatype for our purposes. Why?

In [14]:
type("This is a string")

str

### Operators
- Addition: +
- Subtraction: -
- Division: /
- Multiplication: \*
- Exponentiation: \**

In [15]:
1+1

2

In [16]:
6+8-2

12

In [17]:
2*3

6

In [19]:
2*3+2

8

In [20]:
5/2

2.5

- Dividing any two integers produces float
- Running an operation on two floats or on a float and an integer also produces a float
### Try it yourself!

### Negative numbers

In [21]:
-7 #Negative number

-7

In [22]:
(-5+2)*-3 #Operations on negative numbers

9

### Exponentiation
5 to the power 2 ($5^{2}$)

In [23]:
5**2

25

$16^{(1/2)}$

In [24]:
16**(1/2)

4.0

$5^{-1}$

In [26]:
5**(-1)/0

ZeroDivisionError: float division by zero

### What happens when you divide by zero? Try it!

Below are examples of running an operation inside the print command

In [27]:
print("Addition: 1 + 2 =",1+2)
print("Subtraction: 2 - 1 =",2-1)
print("Division: 10/3 =",10/3) 
print("Multiplication: 10*3 =",10*3)
print("Exponentiation: 5**2 =",5**2)
print("Exponentiation: 4**0.5 =",4**0.5)
print("Exponentiation: 4**-1 =",4**-1)

Addition: 1 + 2 = 3
Subtraction: 2 - 1 = 1
Division: 10/3 = 3.3333333333333335
Multiplication: 10*3 = 30
Exponentiation: 5**2 = 25
Exponentiation: 4**0.5 = 2.0
Exponentiation: 4**-1 = 0.25

### Quotient and Remainder
- // - Floor division - Quotient
- % - Modulo operator - Remainder

In [28]:
5//2

2

In [29]:
5%2

1

Operators work on strings too, giving us non-intuitive results:

In [30]:
"what " + "will " + "happen?"

'what will happen?'

In [32]:
print("what will happen"*3)
print(5*3)

what will happenwhat will happenwhat will happen
15

In [33]:
"5"**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [34]:
"5"/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [35]:
"The Class" - "The"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Assigning/changing data type

By default, python looks at the number and assigns a type. You can also specify the type explicitly.

In [36]:
print(1)
print(float(1))

1
1.0

In [39]:
int("2"+"3")

23

In [40]:
int("2") + int("3")

5

With strings?

In [43]:

int("what")

ValueError: invalid literal for int() with base 10: 'what'

## Variables

A variable allows you to store a value by assigning it to a name, which can be used to refer to the value later in the program.

- A variable is a bucket or a basket. A bucket can hold things - what it holds depends on what we put in it - it can be toys for example. It is useful to put things in a bucket for specific operations, like taking the toys from one place to another. Or for washing the toys under the tap. Similarly, a variable can hold data in memory and allows a program to perform operations on the data. 

- Another way to think of a variable is that we can do the same operations many times by using variables, which will become clear when we discuss loops in module 3.

- Only characters allowed for a variable name are letters, numbers, and underscores. They can't start with numbers. (Try this)



First, we can assign values to variables. Consider the variables a_number, another_number, and a_phrase :

In [45]:
a_number = 2 # integer
another_number = 4 # integer
a_phrase = "I am learning python" # string

How can we know what is in a variable? Just type the variable name:

In [46]:
a_number

2

What if we haven't assigned any value to a variable? Consider the new variable not_assigned :

In [47]:
not_assigned

NameError: name 'not_assigned' is not defined

python doesn't know what not_assigned is (becuase we didn't assign or "declare" the variable) so it throws a fit. Let us try again:

In [50]:
not_assigned = 'I will assign variables before using them'
not_assigned

'I will assign variables before using them'

You may have noticed by now that we assigned both numbers and text to variables - how do we think about these variables? We think about them as "what data type does the variable contain?", which we can find using the type() function:

In [51]:
print(type(a_number))
print(type(another_number))
print(type(a_phrase))
print(type(not_assigned))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [52]:
is_it_a_float = 10.0
type(is_it_a_float)

float

In [53]:
is_it_a_float = 10
type(is_it_a_float)

int

In [54]:
it_is_a_float = float(is_it_a_float) #assigning type
it_is_a_float

10.0

In [55]:
type(it_is_a_float)

float

A string variable is just a list of characters. Each character gets an index starting at 0, which is indicated inside a [ ].

In [63]:
a_string = "Bunch of Characters"
print(a_string[3])

c

Colon (:) lets you access a range of indices of a string:

In [64]:
print(a_string[0:3])

Bun

Colon(:) without a number after it means till the end of the string.

In [65]:
print(a_string[5:])

 of Characters

Colon(:) without a number preceding it means from the beginning of the string.

In [66]:
print(a_string[:5])

Bunch

#### String concatenation

In [67]:
second_string = " in a movie"
sentence = a_string + second_string
sentence

'Bunch of Characters in a movie'

In [68]:
a = "5"
b = "4"
a * 2 + b*5

'5544444'

### In-Place Operators save typing!

In [71]:
x=5
x+=2 #instead of x = x + 2
print(x)

7

In [74]:
x*=2
print(x)

49.0

In [73]:
x/=2
print(x)

24.5

overwrites variables in order of code blocks run

In [75]:
x**=2
print(x)

2401.0

#### Can use in-place operators on strings too (Try it!)

### Some useful math functions similar to operators:
- round()
- abs()
With math module:
- pi - value of the constant pi
- https://docs.python.org/2/library/math.html

In [76]:
import math

In [77]:
print(math.pi)
print(abs(-1.2))
print(round(1.2))
print(round(1.23232,2))

3.141592653589793
1.2
1
1.23

### Booleans and Comparisons

Next type: Boolean. Boolean can take two values: True and False.
1. We can directly assign a boolean value to a variable
2. Boolean can be the output to a "question"

In [78]:
a_boolean = True
a_boolean

True

In [79]:
2==3 ## == means "equals"

False

In [80]:
(25**2) == (5**4)

True

In [81]:
1024 != (2**10) ## != means "not equals"

False

In [82]:
"Red" != "Green"

True

In [83]:
(10**10) > (11**9) ## greater than

True

In [84]:
5251 < 25 ## less than

False

In [85]:
5<=10 ## less than or equal to

True

In [89]:
10<=10.0 ## greater than or equal to

True

### Be very careful not to confuse "=" (assignment) with "==" (comparison)

### Conditional Statements

"if" statement used to test conditions. Now, we start using more than one level of code, bringing us to indentation, a very important feature of python. When your code has multiple levels ("nesting" or think of Russian dolls), each level has to be indented. For example:

Level 1
> Level 2
>> Level 3

Here is how an if statement works:

if expression:
> statements

In [90]:
if 10>2:
    print("10 is greater than 2")
print("program end")

10 is greater than 2
program end

### Nested if statements:
What if you want to ask if a number is divisible by 2 and 3?

In [106]:
x=18
if (x%2)==0:
    print("Divisible by 2")
    if (x%3)==0:
        print("Divisible by 2 and 3")

Divisible by 2
Divisible by 2 and 3

the indents matter: the second if statement doesn't run if indented beyond the first if

### "else" statement
An "else" statement follows an "if" statement and is executed when the "if" statement is false. This is useful when you have two outcomes.

In [101]:
weather = "sunny"
if weather == "rainy":
    print("take umbrella")
else:
    print("apply sunscreen")

apply sunscreen

### "elif" statement
When you have more than one condition to test.

In [102]:
weather = "snowy"
if weather == "rainy":
    rint("take umbrella")
elif weather == "sunny":
    print("apply sunscreen")
elif weather == "snowy":
    print("take winter jacket")
else:
    print("have fun")

take winter jacket

### Boolean logic
- and - both statements are true --> returns true
- or - either statement is true --> returns true
- not - only one statement that is false --> returns true

In [107]:
x = 10
if (x>5) and (x<12):
    print("x is a number between 5 and 12")
    
birthyear = 1992
if (birthyear < 1980) or (birthyear>2000):
    print("Not a millenial")
else:
    print("Is a millenial")
    
x = 5
if not (type(x) == str):
    print("Not a string")
    
type(x)

x is a number between 5 and 12
Is a millenial
Not a string

int

### Combining boolean operators

In [109]:
molecule_type = "DNA" #change this to RNA or Protein
resolution = 1
size = 35

if ( (molecule_type == "DNA") or (molecule_type == "Protein")) and (resolution < 2) and (not (size < 25) ):
    print("Selected for further analysis")
else:
    print("Not selected")

Selected for further analysis

### Exercises for Module 1
1. Assign the integer 5 to the variable a. Assign the integer 7 to variable b. Now interchange the values of a and b, without using numbers.

In [125]:
a=5
b=7
temp_a=a
a=b
b=temp_a
print(a,b)

7 5

2. Write the code to find out if a variable x is odd or even and then to print "Even number" or "Odd number" based on value of x.

In [131]:
x=15
if (x%3)==0:
    print("Odd number")
else:
    print("Even number")

Odd number

3. The rule of divisibility by 3 is that the sum of the digits should be divisible by 3. The rule of divisibility by 4 is that the last two digits are divisible by 4. Write code to check if a 3 digit number is divisible by 4 and 3 only using the rules of divisibility.

In [169]:
w=120
x=str(w)
y=int(x[0])+int(x[1])+int(x[2])
z=int(x[1:3])


if (y%3)==0:
    print("divisible by 3")
    if (z%4)==0:
        print("divisible by 3 and 4")

20
divisible by 3
divisible by 3 and 4

4. With only the numbers 10 and 2, use mathematical and string operations to end up with the number 5540.

In [176]:
int(((10/2)*(10**2)*(10))+((10/2)*(10**2))+(2*2*10))

5540

5. Without running this code, tell us what the output will be (you can run it after submitting the answer!):<br>
x = 5<br>
y = x + 3<br>
y = int(str(y) + "2")<br>
print(y)<br>

Write the answer for Exercise 5 here: 82